<ion-header >
  <ion-toolbar>
      <ion-chip color="danger">
        <ion-icon name="finger-print-outline"></ion-icon>
        <ion-label>LOGIN</ion-label>
      </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
   <img src="assets/login.png"/>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item >
        <ion-label>Institución</ion-label>
          <ion-select value="u1" okText="Listo" cancelText="Cancelar">
          <ion-select-option value="u1">U.Valle Cartago</ion-select-option>
          <ion-select-option value="u2">U.Valle Zarzal</ion-select-option>
          <ion-select-option value="u3">U.Valle Yumbo</ion-select-option>
          <ion-select-option value="u4">U.Valle Tuluá</ion-select-option>
          <ion-select-option value="u5">U.Valle Buga</ion-select-option>
          <ion-select-option value="u6">U.Valle Caicedonia</ion-select-option>
          <ion-select-option value="u7">U.Valle Norte del Cauca</ion-select-option>
          <ion-select-option value="u8">U.Valle Pacífico</ion-select-option>
          <ion-select-option value="u9">U.Valle Palmira</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Tipo de Documento</ion-label>
          <ion-select value="td1" okText="Listo" cancelText="Cancelar">
          <ion-select-option value="td1">Cedula de ciudadanía</ion-select-option>
          <ion-select-option value="td2">Tarjeta de identidad</ion-select-option>
          <ion-select-option value="td3">Cedula extranjera</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de documento</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
    <ion-checkbox color="danger" checked="true"></ion-checkbox>  <ion-label>Recordar mis datos</ion-label>  
    <ion-item>
      <ion-button color="danger">Ingresar</ion-button>
    </ion-item>
    
    <ion-router-link color="danger" href="www.google.com">Registrarse.</ion-router-link>

  </ion-card-content>
</ion-card>
</ion-content>
